body{
    margin:0;
    padding:0;
}
#wrapper{
    margin:0 20px;
}
#chosen-pokemons{
    font-family: 'Indie Flower', cursive;
    font-size:25px;
    text-transform: capitalize;
}
.team-name{
    text-align:center;
}
.team-name h2{
    padding:0;
}
#teamName{
    margin-top:15px;
    height: 30px;
    width: 263px;
    font-size: 22px;
    text-align:center;
}
button{
    margin:15px 0 0 34px;
    padding:4px 7px;
    font-size:16px;
    font-weight:bold;
    background-color: tomato;
    border:solid 4px yellow;
    width:200px;
    cursor: pointer;
}
.input-btn{
    display:grid;
    justify-content: center;
}
#cards{
    display:flex;
    justify-content: space-around;
    text-transform: capitalize;
}
.pokemon-card{
    width:235px;
    border:solid 6px yellow;
    border-radius: 4%;
    padding:12px;
    background-color: tomato;
    margin-top:50px;
} 
.pick-pokemon{
    height: 17px;
    width: 17px;
}
.picked{
    display:flex;
    justify-content: center;
}
.picked img{
    width: 100px;
    height: auto;
}
.picked h2{
    padding:32px 0 0 0;
    text-decoration: underline;
}
.name-check{
    display:flex;
    justify-content: space-between;
}
h2{
    padding-left:7%;
    margin:0;
}
hr{
    border: solid 1px yellow;
}
.basic-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pokemon-img{
    border:solid 2px yellow;
    margin: 0 7%;
    width: 80%;
}